{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} perl class {% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <h2>Perl class</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contacts' %}">contacts</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock%}
    </main>
    <footer>
        <p>&copy; 2024 Perlclass</p>
    </footer>
    
</body>
</html>